<form name="registerUserForm">
    <label for="reg-username">Username</label>
    <input type="text" required="required" ng-model="registerUser.username" id="reg-username" class="form-control"/>
    <br/>
    <label for="reg-password">Password</label>
    <input type="password"
           required="required"
           min-length="6"
           max-length="100"
           ng-model="registerUser.password"
           id="reg-password"
           class="form-control"/>
    <br/>
    <label for="reg-confirm-password">Confirm Password</label>
    <input type="password"
           required="required"
           min-length="6"
           max-length="100"
           ng-model="registerUser.confirmPassword"
           id="reg-confirm-password"
           class="form-control"/>
    <br/>
    <button class="btn btn-primary"
            ng-disabled="registerUserForm.$invalid || registerUser.password !== registerUser.confirmPassword"
            ng-click="register(registerUser)">Register
    </button>
</form>