<html lang="en" ng-app="issueTracker" ng-cloak>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Issue tracking system</title>
    <meta name="description" content="SoftUni AngularJS Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body cz-shortcut-listen="true" ng-controller="MainCtrl" >

    <div class="navbar navbar-default navbar-fixed-top">

        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" ng-show="isAuthenticated()">Hello {{currentUserData().userName}}</a>
                <a class="navbar-brand" ng-hide="isAuthenticated()">Welcome to SoftUni Issue Tracker System</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="active" ng-show="isAuthenticated()" >
                        <a href="#/">Dashboard</a>
                    </li>
                    <li class="active" ng-if="isAuthenticated()">
                        <a href="#/projects/my">My projects</a>
                    </li>
                    <li class="active" ng-if="isAdmin()">
                        <a href="#/projects">All Projects</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right" ng-if="isAuthenticated()">
                    <li><a href="#/profile/password">Change password</a></li>
                    <li ng-click="logout()"><a href="#/logout">Logout</a></li>
                </ul>

            </div>
        </div>
    </div>

    <div class="container" >
        <div ng-view/>
    </div>


    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-ui-bootstrap-pagination/pagination.js"></script>
    <script src="bower_components/noty/js/noty/packaged/jquery.noty.packaged.js"></script>


    <script src="bower_components/ngstorage/ngStorage.js"></script>


    <script src="app.js"></script>

    <script src="services/authentication.js"></script>
    <script src="services/users.js"></script>
    <script src="services/notifier.js"></script>
    <script src="services/issues.js"></script>
    <script src="services/projects.js"></script>
    <script src="services/comments.js"></script>

    <script src="controllers/main-controller.js"></script>
    <script src="controllers/home-controller.js"></script>
    <script src="controllers/issues-controller.js"></script>
    <script src="controllers/projects-controller.js"></script>


    <script src="directives/templates-directives.js"></script>

</body>
</html>