<div class="page-header">
    <h2>My projects</h2>
</div>
<div class="jumbotron container">
    <div ng-if="myProjects.length !== 0">
        <table class="table">
            <thead>
            <tr>
                <th>Project name</th>
                <th>View project</th>
                <th>Edit project</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="project in myProjects">
                <td>{{project.Name}}</td>
                <td><a href="#projects/{{project.Id}}" class="btn btn-default" role="button">View</a></td>
                <td><a href="#projects/{{project.Id}}/edit" class="btn btn-success" role="button">Edit</a></td>
            </tr>
            </tbody>
        </table>
        <pagination total-items="myTotalProjects" ng-model="myProjectsParams.pageNumber"
                    items-per-page="myProjectsParams.pageSize" ng-change="getUserProjects()"
                    max-size="9" boundary-links="true" class="paging">
        </pagination>
    </div>
    <div ng-if="myProjects.length === 0">
        <h3>You are not lead of any project!</h3>
    </div>
</div>