<div class="page-header">
    <h1 class="text-center" >Project page</h1>
</div>
<div class="jumbotron container" >
    <div class="col-md-4">
        <span class="key"><strong>{{currentProject.ProjectKey}}</strong></span>
        <a href="#projects/{{currentProject.Id}}/edit" class="btn btn-success" ng-if="isAdmin() || isLeadOfProject" role="button">Edit</a>
        <a href="#projects/{{currentProject.Id}}/add-issue" class="btn btn-success" ng-if="isAdmin() || isLeadOfProject" role="button">Add Issue</a>
        <p><strong>ProjectKey:</strong> {{currentProject.ProjectKey}}</p>
        <p><strong>Name:</strong> {{currentProject.Name}}</p>
        <p><strong>Description:</strong> {{currentProject.Description}}</p>
        <p>Labels: {{currentProjectLabels.join(', ')}}</p>
        <p>Priorities: {{currentProjectPriorities.join(', ')}}</p>
        <div ng-issue-filter></div>
    </div>
    <div class="col-md-8">
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>DueDate</th>
                <th>Assignee</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="issue in currentProjectIssues |
                    filter: {Status: {Id: issueStatusFilter || '!!' }} |
                    filter: {Assignee: {Username: issueAssigneeFilter || '!!'}} |
                    filter: {Priority: {Name: issuePriorityFilter || '!!'}}">
                <td><a href="#issues/{{issue.Id}}">{{issue.Title}}</a></td>
                <td>{{issue.Description}}</td>
                <td>{{issue.DueDate}}</td>
                <td>{{issue.Assignee.Username}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>