<!-- *** BOOTSTRAP LOGIN FORM *** -->
<div class="container col-md-6 col-md-offset-1">
    <div class="row">
        <div class="span12">
            <form class="form-horizontal">
                <fieldset>
                    <div id="legend">
                        <legend class="">Login</legend>
                    </div>
                    <div class="control-group">
                        <!-- Username -->
                        <label class="control-label" for="username">Username</label>
                        <div class="controls">
                            <input type="text" id="username" name="username" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input type="password" id="password" name="password" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-success" style="margin-top: 20px;">Login</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<!-- *** BOOTSTRAP REGISTER FORM *** -->
<form class="form-horizontal">
    <fieldset>
        <div id="legend">
            <legend class="">Register</legend>
        </div>
        <div class="control-group"> <!-- Username -->
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type="text" id="username" name="username" class="input-xlarge">
            </div>
        </div>
        <div class="control-group"> <!-- Password-->
            <label class="control-label" for="password">Password</label>
            <div class="controls"><input type="password" id="password" name="password" class="input-xlarge">
            </div>
        </div>
        <div class="control-group"> <!-- Password -->
            <label class="control-label" for="password_confirm">Confirm Password</label>
            <div class="controls">
                <input type="password" id="password_confirm" name="password_confirm" class="input-xlarge">
            </div>
        </div>
        <div class="control-group"> <!-- E-mail -->
            <label class="control-label" for="name">Name</label>
            <div class="controls">
                <input type="text" id="name" name="name" class="input-xlarge">
            </div>
        </div>
        <div class="control-group"> <!-- Name -->
            <label class="control-label" for="email">E-mail</label>
            <div class="controls">
                <input type="text" id="email" name="email" class="input-xlarge">
            </div>
        </div>
        <div class="control-group"> <!-- Gender -->
            <label class="control-label" for="gender">Gender</label>
            <div class="controls">
                <select>
                    <option selected="selected">Other</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
        </div>
        <div class="control-group"> <!-- Button -->
            <div class="controls">
                <button class="btn btn-success" style="margin-top: 20px;">Register</button>
            </div>
        </div>
    </fieldset>
</form>